//
// Base
// --------------------------------------------------

// Variables 
// -------------------------

// Imports 
// -------------------------
@import "colors";
@import "mixins";
@import "typography";
@import "forms";
@import "icons";
@import "menu";

// Basic Elements 
// -------------------------

body {
    background-color: #fff;
    overflow-y: scroll;
    overflow-x: hidden;
}

.none {
    display: none;
}

[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
  display: none !important;
}