//
// Base/Colors
// --------------------------------------------------


// Imports
// -------------------------

// Primary Blue Links
$primary-links: #608CB3;

// Branding Dark Blue
$tc-blue-hover-bg: #00b6d8;
$tc-brand-blue-light: #5BD2FC;
$tc-brand-blue: #0a6895;
$tc-brand-purple: #e2019b;

// Background Colors
$tc-background-light: #f8f8f8;

// Border Colors
$gray-border-color: #dededf;
$shadow-borders: rgba(0,0,0,0.03);

// Light Background Colors

$gray-ultra-light: lighten(#000, 97.25%) !default; // #f8f8f8

// Reds
$red-light: #ff0000;
$red-dark: #990000;

// Greens
$green-blue: #48bd92;