html, body{
	height: 100%;
	background: $gray-lighter
	// background : url(/img/bg.jpg) bottom right no-repeat fixed;
	// background-size: cover;
	// background-position:fixed;
}

.tc-global,
.transitioner-panes,
.left-pane,
.right-pane,
.tc-main{
	height: 100%;
}


.tc-entry,
.tc-inside{
	position : absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
}