.tc-relation-global{
  @include hbox;

  .tc-relation-main{
    background: #eee;
    @include hbox-item;
    
    .modal-backdrop,
    .modal{
      position: absolute;
      overflow:hidden;
    }

    .modal-backdrop{
      background: white;
      @include opacity(0.9);
    }

    .modal{
      .modal-content{
        @include box-shadow(none);
        border: 0;
        outline: 0;
      }
    }

    .tc-posting-section,
    .tc-timeline-section{
      position: relative;
      margin: 20px;
    }

    .tc-timeline-section{

      .media{
        overflow: hidden;
        position:relative;
      }
      .media-body{
        overflow: visible;
        margin-left: 60px;
      }
    }
  }
}