.tc-relation-global{
  @include hbox;

  .tc-relation-main{
    background: #fff;
    @include hbox-item;

    .tc-splitter {
      position: fixed;
      background: url('/img/relation_main_spacer.gif') white no-repeat top left;
      width: 44px;
      height: 682px;
    }
    
    .tc-line{
      position:absolute;
      top: 110px;
      bottom: 0;
      left: 107px;
      width: 2px;
      background-color: $gray-lighter;
    }

    .tc-posting-section,
    .tc-timeline-section{
      position: relative;
      margin: 48px;
    }

    .tc-timeline-section{

      .media{
        overflow: hidden;
        position:relative;
      }
      .media-body{
        overflow: visible;
        margin-left:85px;
        min-height: 90px;
      }
    }
  }
}