.tc-relation-aside{
	@include hbox-item;
	background: #fff;
	width: 35%;
	padding: 20px 40px;

	.tc-contact-section{		
		margin: 24px 0;
		text-align: center;

	}
	
	.tc-contact-avatar{
		img{
			border: 5px solid $gray-lighter;
			@include square(100px);
		}
	}
	.tc-contact-name{
		h3{
			margin-top:10px;
			color: $gray; 
		}
	}
	.tc-contact-title{
		padding:0 50px;

		p{
			color: $gray-light;
			line-height : $line-height-small;
		}
	}


	.tc-overview-section{			
		margin: 24px 0 0 0;
		text-align : center;
	}
	.tc-overview{
	}
	.tc-overview-item{
		display: inline-block;
		vertical-align: top;
		padding: 0 20px 14px 20px;
		margin-bottom:-1px;
		text-align:center;

		h1{
			color: $gray;
			margin-top: 0;
		}
		span{
			color: $gray-light;
			font-size: $font-size-small;
		}

		&.active{
			border-bottom: 2px solid $brand-primary;

			h1, span{
				color: $brand-primary;
			}
		}
	}

	.tc-spacer-section{				
		margin: 24px 0 12px 0;
		height: 36px;
		background: url('/img/relation_aside_spacer.gif') no-repeat top center;
	}

	.tc-objectives-section{
		position: absolute;
		top:340px; 
		bottom:0; 
		left:0; 
		right:0;
		overflow: hidden;

		ul{
		}

		li{
			border-top: 1px solid $gray-lighter;
			padding: 20px;
			overflow: hidden;

			.tc-title {
				font-size: $font-size-base;
				color: $gray;
			}

			.tc-createdAt {
				font-size: $font-size-small;
				color: $gray-light;
				font-style: italic;
				padding: 5px 0;
			}

			.tc-progress {
				margin: 5px 0 0 0;
				height:5px;
				border-radius: 0;
				-webkit-box-shadow: none;
				box-shadow: none;
				background: #eee;

				.progress-bar-success {
					background: #48bd92;
				}
			}

			.tc-check{
				border-radius : 50%;
				border: 3px solid $gray-lighter;
				line-height: 14px;
				padding:6px;
				color: $gray-light;

				span{
					line-height:0;
				}
			}

			.tc-info {
				margin-left: 50px;
			}
		}
	}
}