.tc-login-section{
  position: absolute;
  left: 50%;
  top: 50%;
  width: 315px;
  margin-top: -240px;
  margin-left: -158px;

  .tc-logo{
    background : url('/img/logo_login.png') no-repeat top center;
    width: 112px;
    height: 78px;
    
    margin-top: 50px;
    margin-bottom: 30px;
  }

  .form-group{
    margin-top: 20px;
  }

  .btn{
    background-color: #00b5dc;
  }

  .alert-danger{
    border:0;
    color: #ff481e;
    background-color: rgba(255, 255, 255, .2);
    text-shadow: 2px 2px #333loc;
  }
}