<template name="message_edit_objective">

  {{> message_edit_discuss}}

  <div class="tc-message-objectives">
    
    {{> message_edit_objective_line}}

    <div class="form-group">
      <button type="button" id="addObjectiveBtn" class="btn btn-default btn-xs">
        <span class="glyphicon glyphicon-plus"></span> Add objective
      </button>
    </div>
  </div>
</template>

<template name="message_edit_objective_line">
  <div class="tc-edit-objective form-group">
      <div class="input-group">
        <span class="input-group-addon">
          <span class="glyphicon glyphicon-ok"></span>
        </span>
        <input type="text" class="form-control input-sm" />        
      </div>

      <button type="button" class="tc-remove btn btn-sm btn-link">
        <span class="glyphicon glyphicon-remove"></span>
      </button>
    </div>
</template>