<template name="message_edit_controls">

  <div class="tc-attachments-group">
    <span class="btn-file btn btn-default">
      <span class="glyphicon glyphicon-picture"></span>
      <input type="file" multiple=""/>
    </span>

    <span class="btn-file btn btn-default">
      <span class="glyphicon glyphicon-paperclip"></span>
      <input type="file" multiple="" />
    </span>

    <span class="tc-separator"></span>

    <button type="button" class="tc-btn-objective btn btn-default">
      <span class="flaticon-checkmark5 checkmark"></span>
    </button>

    <button type="button" class="tc-btn-progress btn btn-default">
      <span class="progress-icon">%</span>
    </button>
  </div>

  <div class="tc-submit-group">
    <button type="submit" class='btn btn-primary'> Post</button>
    <button type="button" class='tc-btn-discard btn btn-default'> Cancel</button>
  </div>


</template>