<template name="message_edit">
  <form novalidate>

  <div class="tc-discuss-section">
  	{{> message_edit_discuss}}
  </div>

  <div class="tc-message-control-bar tc-attachments-top">
    {{> message_attachments}}
  </div>

  <div class="tc-objectives-section">
  	{{> message_edit_objectives}}
  </div>

  <div class="tc-progress-section">
  	{{> message_edit_progress}}
  </div>

  <div class="tc-files-section">
  	{{> message_edit_files}}
  </div>

  <div class="tc-message-control-bar tc-attachments-bottom">

    {{> message_attachments}}

    <div class="form-group form-submit">
      <button type="submit" class='btn btn-primary'> Post</button>
      <button type="button" class='tc-discard btn btn-default'> Cancel</button>
    </div>
	</div>
  </form>
</template>