<template name="message_attachments">

      <div class="form-group form-files">
      <div class="btn-group">
        <span class="btn-file btn btn-default">
          <span class="glyphicon glyphicon-picture"></span>
          <input type="file" multiple=""/>
        </span>

        <span class="btn-file btn btn-default">
          <span class="glyphicon glyphicon-paperclip"></span>
          <input type="file" multiple="" />
        </span>
      </div>
    </div>

    <div class="form-group form-objectives">
      <div class="btn-group">
        <span class="btn-file btn-checkmark btn btn-default">
          <span class="flaticon-checkmark5 checkmark"></span>
          <input type="file" multiple=""/>
        </span>

        <span class="btn-file btn btn-default">
          <span class="progress-icon">%</span>
          <input type="file" multiple="" />
        </span>
      </div>
    </div>

</template>