<template name="message">
  <div class="tc-message media">
    <div class="tc-avatar pull-left">
      <img src="/img/avatar.png" class="media-object img-circle" />
    </div>
    <div class="tc-message-body media-body">
      <div class="tc-message-heading media-heading">
        <a class="tc-username">{{fullname authorId}} </a>
        <span class="tc-bullet" aria-hidden="true"> • </span>
        <span class="tc-timeago"> {{{createdAt}}}</span>
      </div>
      
      <div class="tc-message-body">
        <p>{{body}}</p>
        <!-- <div class="tc-progress-attachment tc-attachment">
          50% Completed
        </div> -->
      </div>

      <div class="tc-message-options">
        <ul class="list-inline">
          <li><a href class="tc-approve">Approve</a></li>
        </ul>
      </div>

      <!-- <div class="tc-comments hidden">

        <div class="tc-message media" ng-repeat="comment in message.comments">
          <div class="tc-avatar pull-left">
            <img src="/img/avatar.png" class="media-object img-circle" />
          </div>
          <div class="tc-message-body media-body">
            <div class="tc-message-heading media-heading small">
              <a class="tc-username">Francis Poirier </a>
              <span class="tc-bullet" aria-hidden="true"> • </span>
              <span class="tc-timeago"> {{comment.createdAt|timeago}}</span>
            </div>
            <p>{{message.body}}</p>
          </div>
        </div>


        <div class="tc-new-comment tc-message media">
          <div class="tc-avatar pull-left">
            <img src="/img/avatar.png" class="media-object img-circle" />
          </div>
          <div class="tc-message-body media-body">
            <div class="arrow"></div>
            <input type="text" class="form-control" />
          </div>
        </div>
      </div> -->
    </div>
  </div>
</template>