<template name="relation_bar">
<div class="tc-side-bar compressed">

  <!-- Contact list -->
  <div class="tc-menu-secton">
    <div class="tc-current-user">
      <a href="{{pathFor 'relation_invite'}}">
        <div class="tc-avatar">
          <div class="tc-status {{status}}"></div>
          <img src="{{avatar currentUser}}" />
        </div>
        <div class="tc-name">{{fullname currentUser}}</div>
      </a>
      <div class="black-border"></div>
    </div>
    <ul class='list-unstyled'>
      <p>Clients<!--<a href="{{pathFor 'relation_invite'}}" class="tc-invite-link"
         rel="tooltip" title="Add New Client" data-placement="right">
          <span class="glyphicon glyphicon-plus"></span></a>--></p>

      {{#each relations}}
      {{> relation_bar_item}}
      {{/each}}

      <p>Vendors<!--<a href="{{pathFor 'relation_invite'}}" class="tc-invite-link"
         rel="tooltip" title="Add New Vendor" data-placement="right">
          <span class="glyphicon glyphicon-plus"></span></a>--></p>

    </ul>
  </div>


  <div class="tc-logo">
      <a href="#" class="center-block"></a>
  </div>
</div>
</template>

<template name="relation_bar_item">
  <li class="{{active}}">
    <a href="{{pathFor 'relation' relationId=_id}}" 
      title="{{fullname contact}}">
      <div class="tc-avatar">
        <div class="tc-status {{status}}"></div>
        <img src="{{avatar contact}}"/>
      </div>
      <div class="tc-name">{{fullname contact}}</div>
    </a>
  </li>
</template>