<template name="relation_aside">
  <div class="tc-relation-aside">
    <div class="tc-contact-section">
      <div class="tc-contact-avatar">
        <img src="{{avatar other}}" class="img-circle" />
      </div>
      <div class="tc-contact-name">
        <h3>{{fullname contact}}</h3>
      </div>
      <div class="tc-contact-title">
        <p>Gestionnaire de projets chez Flawless Learning Solutions Inc.</p>
      </div>
    </div>

    <div class="tc-overview-section">
      <div class="tc-overview">
        <div class="tc-overview-item active">
          <h3>000</h3>
          <span>To Do</span>
        </div>
        <div class="tc-overview-item">
          <h3>000</h3>
          <span>Completed</span>
        </div>
        <div class="tc-overview-item">
          <h3>000</h3>
          <span>Paid</span>
        </div>
      </div>
    </div>

    <div class="tc-objectives-section">
      <ul class="tc-objectives list-unstyled">
        {{#each objectives}}
          <li class="tc-objective">
            <div class="tc-check pull-left img-circle">
              <span class="glyphicon glyphicon-ok"></span>
            </div>
            <div class="tc-info">
              <div class="tc-title">{{title}}</div>
              <div class="tc-createdAt">Created on {{date createdAt}}</div>
              <div class="tc-progress progress-striped progress">
                <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="{{progress}}" aria-valuemin="0" aria-valuemax="100" style="width: {{progress}}%;">
                </div>
              </div>
            </div>
          </li>
        {{/each}}
      </ul>
    </div>
  </div>
</template>