<template name="relation_aside_item">
  <li class="{{progress_state}} {{active_state}}">
    <div class="tc-check {{#if completed}} tc-check-completed {{/if}} img-circle pull-left">
      <span class="glyphicon glyphicon-ok"></span>
    </div>
    <div class="tc-info">
      <div class="tc-title">{{title}}</div>
      <div class="tc-createdAt">Created on {{date createdAt}}</div>
      <div class="tc-progress progress">
        <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="{{progress}}" aria-valuemin="0" aria-valuemax="100" style="width: {{progress}}%;">
        </div>
      </div>
    </div>
  </li>
</template>