<template name="relation_aside">
  <div class="tc-relation-aside">
    <div class="tc-contact-section">
      <div class="tc-contact-avatar">
        <img src="{{avatar user}}" class="img-circle" />
      </div>
      <div class="tc-contact-name">
        <h3>{{fullname user}}</h3>
      </div>
      <div class="tc-contact-title">
        <p>Gestionnaire de projets chez Flawless Learning Solutions Inc.</p>
      </div>
    </div>

    <div class="tc-overview-section">
      <div class="tc-overview">
        <div class="tc-overview-item">
          <h3>000</h3>
          <span>To Do</span>
        </div>
        <div class="tc-overview-item">
          <h3>000</h3>
          <span>Completed</span>
        </div>
        <div class="tc-overview-item">
          <h3>000</h3>
          <span>Paid</span>
        </div>
      </div>
    </div>

    <div class="tc-switch-section">
      <div class="tc-switch btn-group">
            <a href="#" class="active btn btn-default">Discuss</a>
            <a href="#" class="btn btn-default">Business</a>
        </div>
    </div>

    <div class="tc-spacer-section"></div>

    <div class="tc-others-section">
    <!-- <ul>
      <li ng-repeat="client in user.clients">
        <a href="#">client : {{ client.id }}</a>
      </li>
      <li ng-repeat="vendor in user.vendors">
        <a  href="#">vendor : {{ vendor.id }}</a>
      </li>
    </ul> -->
    </div>
  </div>
</template>