<template name="relation_aside">
  <div class="tc-relation-aside">

    <div class="scrollable-wrapper">

      <div class="tc-relation-aside-head">
        <!--<div class="tc-contact-section">
          <div class="tc-contact-avatar">
            <img src="{{avatar contact}}" class="pull-left" />
          </div>
          <div class="tc-contact-infos">
            <div class="tc-contact-name">
              <h3>{{fullname contact}}</h3>
            </div>
            <div class="tc-contact-title">
              <p>Gestionnaire de projets chez Flawless Learning Solutions Inc.</p>
            </div>
          </div>
        </div>-->

        <div class="tc-overview-section">
          <div class="tc-overview">
            <ul class="nav">
              <li class="active">
                <a href="#asidePending" role="tab" data-toggle="pill">{{count_pending}} To Do</a>
              </li>
              <li>
                <a href="#asideCompleted" role="tab" data-toggle="pill">{{count_completed}} Completed</a></li>
            </ul>
          </div>
        </div>
      </div>

      <div class="tc-objectives-section">
        <ul id="asideCompleted" class="tc-objectives tab-pane fade list-unstyled">
          {{#each objectives_completed}}          
            {{> relation_aside_item}}
          {{/each}}
        </ul>


        <ul id="asidePending" class="tc-objectives tab-pane fade in active list-unstyled">
          {{#each objectives_pending}}
            {{> relation_aside_item}}
          {{/each}}
        </ul>
      </div>
    </div>
  </div>
</template>