.tc-comments{
  border-top : 1px solid $gray-lighter;

  .tc-comment{
    font-size: $font-size-base;
  }

  .tc-avatar img{
    @include square(34px);
    border-radius: 4px;
  }

  .tc-comment-body{
    p{
      font-size: 14px;
    }
  }
}
.tc-new-comment{

  .tc-avatar img{
    @include square(34px);
    border-radius: 4px;
  }
  
  .tc-comment-body{
    position:relative;
    // padding-left: $popover-arrow-outer-width;
    background-color: $popover-bg;
    background-clip: padding-box;
  }
}