.tc-comments-section {
  margin-top: 10px;

  .tc-comments{
    padding: 20px 20px 0 20px;
    margin-bottom: 0;
    border-top : 1px dotted $gray-lighter;

    .tc-comment{

      @include animation(scale-in 400ms ease);
      font-size: 14px;

      .tc-comment-heading {
        margin: 0;
        color: $gray-light;
        font-size: $font-size-small;
      }

      .media {
        margin-top: 5px;
      }

      .tc-comment-body p {
        font-size: 14px;
        margin: 0;
      }
    }

    .tc-avatar {
      margin-right: 20px;

      img {
        @include square(30px);
        border-radius: 4px;
      }
    }
  }
  .tc-new-comment{

    .tc-avatar img{
      @include square(30px);
      border-radius: 4px;
    }
    
    .tc-comment-body{
      position:relative;
      // padding-left: $popover-arrow-outer-width;
      background-color: $popover-bg;
      background-clip: padding-box;

      .tc-comment-form {
        box-shadow: none;
        border-radius: 0;
        border: none;
        padding: 0;
        margin-top: -2px;
        color: #333;
      }
    }
  }
}