//
// Layouts/Menubar
// --------------------------------------------------

// Variables 
// -------------------------

$menubar-compressed-width: 60px;

// Basic Elements 
// -------------------------

// Left Menu
.tc-side-bar { 
  
  @include hbox-item;
  color: #fff;
  width:60px;
  z-index: 1000;
  -webkit-transition: width .25s;
  transition: width .25s;
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  backface-visibility: hidden;  

  li{
    padding:10px 4px;

    a{
      display:block;
      border:3px solid transparent;
      border-radius: 50%;
      @include transition(opacity .1s linear);
      overflow:hidden;

      &:hover{
        @include opacity(.5);
      }
    }

    a.tc-invite-link{
      position: relative;
      padding:23px;
      border-color:white;
      color:white;
      span{
        position: absolute;
        left: 50%;
        margin-left:-6px;
        top: 50%;
        margin-top: -8px;
      }
    }

    &.active{
      a{
        border-color: $tc-brand-blue-light;
      }
    }

    img{
      width:100%;
    }
  }

  &.compressed{
    width: $menubar-compressed-width;

    .tc-logo a{
      width: 33px;
      height: 33px;
      background : url('../img/logo-clock.png') no-repeat center;
    } 
  }

  .tc-menu-section{
    margin-top:20px;
  }
  
  .tooltip{
    white-space: nowrap;
  }

  .tc-logo {
    position: absolute;
    width:100%;
    text-align: center;
    bottom: 20px;      
  }  
}