//
// Layouts/Menubar
// --------------------------------------------------

// Variables 
// -------------------------

$menubar-compressed-width: 70px;

// Basic Elements 
// -------------------------

// Left Menu
.tc-side-bar { 
  @include hbox-item;
  color: #fff;
  width:60px;
  z-index: 1000;
  -webkit-transition: width .25s;
  transition: width .25s;
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  backface-visibility: hidden; 
  text-align: center;

  .main-img {
    padding: 10px;

    a img {
      width: 100%;
      border-radius: 6px;
    }
  }

  .tooltip {
    white-space: nowrap;
    margin: 0 0 0 22px;
  }

  li{
    padding: 5px 15px;

    a{
      display: block;
      @include transition(opacity .1s linear);
      overflow: hidden;
      border-radius: 50%;
    }

    a.tc-invite-link{
      position: relative;
      width: 40px;
      height: 40px;
      color: #060606;
      background: #fff;
      @include opacity(.6);

      &:hover{
        @include opacity(1);
      }

      span{
        position: absolute;
        left: 50%;
        margin-left:-6px;
        top: 50%;
        margin-top: -8px;
      }
    }

    &.active{
      position: relative;

      &:before {
        position: absolute;
        content: '';
        top: 18px;
        right: 0;
        width: 0;
        height: 0;
        border-right: 6px solid #fff;
        border-top: 6px solid transparent;
        border-bottom: 6px solid transparent;
      }
    }

    img{
      width: 100%;
    }
  }

  &.compressed{
    width: $menubar-compressed-width;

    .tc-logo {
      position: fixed;
      width: 100px;
      text-align: center;
      bottom: 20px; 

      a{
        width: 33px;
        height: 35px;
        background : url('../img/logo-clock.png') no-repeat center;
      } 
    }
  }

  p {
    text-transform: uppercase;
    font-size: 10px;
    margin: 20px 0 0 0;
    @include opacity(.7);

    a {
      font-size: 10px;
      color: #fff;
      padding-left: 4px;
    }
  }
}