

@keyframes tc-message-new-kf {
  from { opacity: 0; margin-top: -100px }
  to { opacity: 1; margin-top: 30px }
}
@-webkit-keyframes tc-message-new-kf {
  from { opacity: 0; margin-top: -100px }
  to { opacity: 1; margin-top: 30px }
}

.message_bar ul {
	li {
		padding: 0;

		a {
			background: #fff;
			border: 1px solid #dededf;
			text-align: center;
			border-radius: 6px;
			margin: 0 10px;
		}
	}
}

.tc-message{
	padding: 20px;
	
	&.mix{
		display:none;
	}
	
	.tc-avatar img{
		@include square(40px);
		border-radius: 6px;
	}

	.tc-message-header {
		background: #fff;
		text-align: left;
		color: $gray-light;
		font-size: 12px;
	}

	.tc-message-body{
		
		p{
			font-size: 18px;
		}
	}

	.tc-message-objectives {

		.checkmark {
			top: -2px;

			&:before {
				font-size: 14px;
				padding: 0 10px 0 20px;
				color: #aaa;
				
			}
		}

		.plus {
			left: -14px;
			top: 2px;

			&:before {
				font-size: 10px;
				color: $gray;
			}
		}

		.title {
			margin-left: 55px;
		}	
	}

	.tc-message-files{
		img {
			display: block;
			width: 100% !important;
			height: auto !important;
		}
	}

	.tc-message-heading{
		color: $gray-light;
		font-size: $font-size-small;

		.tc-username{
			color: $brand-primary;
			font-weight: bold;
		}
		.tc-bullet{
			margin: 0 5px;
		}
	}

	.tc-message-options{
		font-size: $font-size-small;

		ul{
			margin-bottom: 3px;
		}
	}

	.tc-comments{
		border-top : 1px solid $gray-lighter;

		.tc-message{
			font-size: $font-size-base;
			margin: 15px;
		}


		.tc-avatar img{
			width: 30px;
			height: 30px;
			border: 0;
		}

		.tc-message-body{
			p{
				font-size: $font-size-base;
			}
		}
	}
	.tc-new-comment{
		.tc-message-body{
			position:relative;
			// padding-left: $popover-arrow-outer-width;
			background-color: $popover-bg;
			background-clip: padding-box;
		}
	}
}