.tc-message-objectives{
  margin-top: 30px;

  .list-unstyled {
    margin-top: -12px;
    li {
      border-bottom: 1px solid #f2f2f2;
      padding: 12px 12px 12px 0;
      color: $gray;
      font-style: italic;

      img {
        padding-right: 10px;
      }
    }
  }
}

.tc-message-progresses{
}

.tc-message-files{
  
  .list-unstyled {
    a:hover {
      text-decoration: none;
    }
  }
  .tc-icon-pdf {
    display: inline-block;
    margin: 10px 15px 0 0;
  }
  .name {
    display: inline-block;
    vertical-align: top;
    font-weight: bold;
    margin-top: 10px;
  }
  .size {
    color: $gray-light;
    font-style: italic;
    font-size: 12px;
    font-weight: normal;
    margin-top: 3px;
  }
}