.tc-message-draft{

	.tc-controls-section {
		position: relative;
		border-top: 1px solid #eee;
		padding: 10px 0;


		.tc-submit-group {
			position: absolute;
			top: 10px;
			right: 10px;
		}

		.tc-attachments-group{
			.btn{
				border: none;
				color: #555;
				padding: 6px 10px;

				&:hover {
					background: #3580bd;
					color: #fff;
				}
			}

			.tc-btn-objective {
				// Adjusting padding because icon font-size is bigger than other button
				padding: 6px 9px; 

				.checkmark {
					&:before {
						font-size: 16px;
						margin: 0;
						line-height: 0;
					}
				}
			}

			.tc-btn-progress {
				.progress-icon {
					font-weight: bold;
				}
			}

			.tc-separator{
				width: 0;
				margin: 0 8px;
				height: 24px;
				display: inline-block;
				vertical-align: middle;
				border-left: 1px solid $gray-light;
			}
		} 
	}

	// When the draft message is empty
	// We want the attachment bar top right
	&.tc-empty{
		.media-body{
			position: relative;
		}
		.tc-controls-section{
			position: absolute;
			top:10px;
			right:0px;
			border-top: 0;
			padding: 0;

			.tc-submit-group{
				display:none;
			}
		}
	}

	// Remove button
	.tc-progress-section,
	.tc-objectives-section{

		ul > li{
			position: relative;

			.tc-remove{
				position: absolute;
				top: 2px;
				right: 0;
				display: none;
				width: 34px;
				height: 34px;
				line-height: 0;
				text-align: center;
				color: $gray-light;
				border-left:0;
				z-index:2;
			}

			&:hover{
				.tc-remove{
					display:block;
					color: $brand-danger;
				}
			}
		}
	}

	.tc-progress-section{
		ul > li{
			margin-top: 10px;

			.tc-col-value{
				padding-right: 40px;
			}

			.tc-remove{
				top: -2px;
				right: 5px;

				&:focus{
					outline: 0;
				}
			}
		}
	}

	// FILES list
	.tc-files-section{
		color: $gray-light;
		
		ul{
			margin-bottom: 0;
		}
		li{
			padding: 5px 10px;

			.tc-remove{
				padding-top:2px;
				color: $gray-light;
			}

			&:hover{
				.tc-remove{
					color: $brand-danger;
				}
			}

			.tc-upload-progress{
				height : 10px;
				width: 90px;
				margin-top: 5px;
				margin-bottom:0;
			}
		}
	}
}