.tc-message-draft{

	.tc-message-control-bar {
		border-top: 1px solid #eee;
		padding: 10px 0;

		.form-files {
			display: inline-block;
			padding-left: 10px;
			padding-right: 7px;
		}

		.form-objectives {
			display: inline-block;
			padding-left: 12px;
			border-left: 1px solid #dededf;
		}

		.form-submit {
			position: absolute;
			right: 60px;
			display: inline-block;
		}

		.form-group {
			margin: 0;

			.btn-file {
				border: none;
				color: #555;

				&:hover {
					background: #3580bd;
					border-radius: 4px;
					color: #fff;
				}

				.progress-icon {
					font-weight: bold;
				}
			}

			.btn-checkmark {
				padding-top: 7px;

				.checkmark {
					&:before {
						font-size: 16px;
						margin: 0;
						line-height: 0;
					}
				}
			}
		}
	}

	.tc-attachments-top {
		position: absolute;
		top: 25px;
		right: 70px;
		border-top: none;
	}

	.tc-edit-objective{
		position: relative;

		.tc-remove{
			position: absolute;
			top: -2px;
			right: 0;
			display: none;
			width: 34px;
			height: 34px;
			line-height: 0;
			text-align: center;
			color: $gray-light;
			border-left:0;
			z-index:2;
		}

		&:hover{
			.tc-remove{
				display:block;
				color: $brand-danger;
			}
		}
	}

	.tc-message-progress {

	}

	.tc-message-files{
		color: $gray-light;
		
		ul{
			margin-bottom: 0;
		}
		li{
			padding: 5px 10px;

			.tc-remove{
				padding-top:2px;
				color: $gray-light;
			}
		}
		
		li:hover{
			.tc-remove{
				color: $brand-danger;
			}
		}

		.tc-upload-progress{
			height : 10px;
			width: 90px;
			margin-top: 5px;
			margin-bottom:0;
		}

	}
}