.tc-objective{

  .tc-title {
    font-size: $font-size-base;
    color: $gray;
  }

  .tc-createdAt {
    font-size: $font-size-small;
    color: $gray-light;
    font-style: italic;
    padding: 5px 0;
  }

  .tc-progress {
    margin: 5px 0 0 0;
    height:5px;
    border-radius: 0;
    -webkit-box-shadow: none;
    box-shadow: none;
    background: #eee;

    .progress-bar-success {
      background: $green-blue;
    }
  }

  .tc-check{
    position: relative;
    border-radius : 50%;
    line-height: 14px;
    padding:6px;
    color: #fff;
    background: #ccc;

    span{
      line-height:0;
    }
  }

  .tc-check-completed {
    background: $green-blue;
    color: #fff;
  }

  .tc-info {
    position: relative;
    margin-left: 40px;
  }
}